{% extends 'base/index.html' %}

{% block content %}
    <h2>{{ vehicle.make }}</h2>
    <p>
        Currently {{ vehicle.mileage }} miles.
    </p>
    <p>
        Rate: ${{ model.rental_price }} per day.
    </p>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action={% url 'cars:rent' model_id=model.id vehicle_id=vehicle.id %} method='post'>
        {% csrf_token %}
        <input type='hidden' name='vehicleChoice' value={{ vehicle.id }} />
        <input type='submit' value='rent'>
    </form>
{% endblock %}