{% extends 'base/index.html' %}

{% block content %}
    {% load custom_filters %}
    {% if vehicles %}
    <div class="row">
        <div class="col s12 m6">
            <div class='red-text'>*All vehicles have a charge of $0.32 per mile.</div>
        </div>
    </div>
    {% for vehicle in vehicles %}
        {% if vehicle.available %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ vehicle.make }}</span>
                            <p>
                                Has {{ vehicle.mileage }} miles
                            </p>
                            <p>
                                {{ vehicle.model }} vehicle : ${{ model.rental_price }}/day
                            </p>
                        </div>
                        <form class='rent-form' action={% url 'cars:rent' model_id=model.id vehicle_id=vehicle.id %} method='post'>
                            {% csrf_token %}
                            <div class='input-field'>
                                <div class='row'>
                                    <div class='col s6 offset-s1'>
                                        <div class='input-field'>
                                            <input id='end_date_{{ vehicle.id }}' name='return_date' type='text' class="datepicker end_date">
                                            <label for='end_date'>Return Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <div class='row'>
                                    <div class='col'>
                                        <button class='modal-trigger return-modal' href='#rent_modal_{{ vehicle.id }}'>See rates</button>
                                    </div>
                                </div>
                            </div>
                            <div id='rent_modal_{{ vehicle.id }}' class='modal'>
                                <div class='modal-content'>
                                    <h4>Cost before mileage:</h4>
                                    <p class='number_of_days red-text'>
                                        Please select a return date!
                                    </p>
                                    <input type='hidden' name='vehicle_price' value={{ model.rental_price }}>
                                    <input type='hidden' name='vehicle_choice' value={{ vehicle.id }}>
                                    <br/><br/>
                                    <input type='submit' value='Rent This'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% else %}
        <p>No Cars are available.</p>
    {% endif %}
{% endblock %}