{% extends 'base/index.html' %}

{% block content %}
    {% if vehicles %}
        {% for vehicle in vehicles %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ vehicle.make }}</span>
                            <p>
                                {{ vehicle.model }} vehicle at {{ vehicle.mileage }} miles.
                            </p>
                            <p>
                                Rented on: {{ vehicle.start_date }}
                            </p>
                            <p>
                                Due back on: {{ vehicle.return_date }}
                            </p>
                            <p>
                                {% if vehicle.start_date < today and vehicle.return_date > today %}
                                    <div class=''>You have {{ today|timesince:vehicle.return_date }} left on this rental.</div>
                                {% elif vehicle.return_date < today %}
                                    <div class='red-text'>This vehicle is {{ vehicle.return_date|timesince:today }} past due!</div>
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-action">
                            <button class='modal-trigger' href='#return_modal_{{ vehicle.id }}'>Return This</button>
                        </div>
                        <div id='return_modal_{{ vehicle.id }}' class='modal'>
                            <div class='modal-content'>
                                <h4>Enter your return mileage:</h4>
                                <form action={% url 'cars:return' vehicle_id=vehicle.id %} method='post'>
                                    {% csrf_token %}
                                    <input type='hidden' name='start_mileage' value="{{ vehicle.mileage }}"/>
                                    <input type='hidden' name='price' value="{{ vehicle.model.rental_price }}"/>
                                    <input type='hidden' name='start_date' value="{{ vehicle.start_date }}"/>
                                    <input type='hidden' name='return_date' value="{{ vehicle.return_date }}"/>
                                    <div class='row'>
                                        <div class='col s6 offset-s3'>
                                            <h4>Your Total</h4>
                                            <div class=' green-text total'>
                                                test
                                            </div>
                                        </div>
                                        <br/><br/><br/><br/><br/>
                                        <div class='col s6 offset-s3'>
                                            <div class='input-field'>
                                                <input type='number' min="{{ vehicle.mileage }}" id='return_mileage_{{ vehicle.id }}' class='return_mileage' name='return_mileage' placeholder="{{ vehicle.mileage }}">
                                                <label for='return_mileage'>Mileage</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col s1 offset-s8'>
                                            <input type='hidden' name='vehicle_choice' value="{{ vehicle.id }}" />
                                            <div class='modal-footer'>
                                                <input type='submit' value='Return This'>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You haven't rented any cars.</p>
    {% endif %}
{% endblock %}