<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Car Rentals{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    {% load static %}
    <script src="{% static 'scripts/script.js' %}"></script>
  </head>
  <body>
    <header>
    <div class="row">
        <div class="col s10 offset-s1">
          <h1>Car Rentals</h1>
          {% if user.is_authenticated %}
          <a href={% url 'cars:logout' %}>logout</a> | <a href={% url 'cars:rentals' %}>your rentals</a>
          {% else %}
            <a href={% url 'cars:login' %}>login</a> / <a href={% url 'cars:signup' %}>signup</a>
          {% endif %}
          <hr/>
        </div>
      </div>
    </header>
    <main>
      <div class="row">
        <div class="col s10 offset-s1">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>