{% extends 'base/index.html' %}

{% block content %}
    {% if models %}
        <ul>
            {% for model in models %}
                <li><a href={% url 'cars:vehicles' model.id %}>{{ model.model_type}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Cars are available.</p>
    {% endif %}
{% endblock %}