{% extends 'base/index.html' %}

{% block content %}
    <h2>Sign Up</h2>
    <form method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}<br/>
                {{ field }}
                {% if field.help_text %}
                    <small style='color:grey'>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style='color:red'>{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type='submit'>Sign up</button>
    </form>
{% endblock %}